<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <h2 *ngIf="form.get('nome').value"
        class="headline m-0"
        fxFlex="auto">{{ form.get('nome').value }}</h2>
    <h2 *ngIf="!form.get('nome').value"
        class="headline m-0"
        fxFlex="auto">Nova Categoria</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Nome</mat-label>
        <input cdkFocusInitial formControlName="nome" matInput>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Descrição</mat-label>
      <input formControlName="descricao" matInput>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Situação</mat-label>
      <mat-select [(value)]="selected" formControlName="situacao">
        <mat-option [value]="situacao" *ngFor="let situacao of situacoes">{{situacao}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CRIAR CATEGORIA</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ATUALIZAR CATEGORIA</button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Imprimir</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Exportar</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Excluir</span>
  </button>
</mat-menu>
