<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <h2 *ngIf="form.get('formulario').value"
        class="headline m-0"
        fxFlex="auto">Coleta {{ form.get('id').value }}</h2>
    <h2 *ngIf="!form.get('formulario').value"
        class="headline m-0"
        fxFlex="auto">Nova Coleta</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">

    <mat-form-field class="mt-6 flex-auto">
      <mat-label>Formulário</mat-label>
      <mat-select cdkFocusInitial [(value)]="selectedFormulario" formControlName="formulario">
        <mat-option [value]="formulario" *ngFor="let formulario of formularios">{{formulario}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Data</mat-label>
        <input formControlName="data" matInput type="date">
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Hora</mat-label>
        <input formControlName="hora" matInput type="time">
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Latitude</mat-label>
        <input formControlName="latitude" matInput>
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Longitude</mat-label>
        <input formControlName="longitude" matInput>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Responsável</mat-label>
      <input formControlName="responsavel" matInput>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Ordem</mat-label>
      <mat-select [(value)]="selectedOrdem" formControlName="ordem">
        <mat-option [value]="ordem" *ngFor="let ordem of ordens">{{ordem}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Classe</mat-label>
      <mat-select [(value)]="selectedClasse" formControlName="classe">
        <mat-option [value]="classe" *ngFor="let classe of classes">{{classe}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Espécie</mat-label>
      <mat-select [(value)]="selectedEspecie" formControlName="especie">
        <mat-option [value]="especie" *ngFor="let especie of especies">{{especie}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Tipo de Atividade</mat-label>
      <mat-select [(value)]="selectedTipoAtividade" formControlName="tipoAtividade">
        <mat-option [value]="tipoAtividade" *ngFor="let tipoAtividade of tipoAtividades">{{tipoAtividade}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Tipo de Registro</mat-label>
      <mat-select [(value)]="selectedTipoRegistro" formControlName="tipoRegistro">
        <mat-option [value]="tipoRegistro" *ngFor="let tipoRegistro of tipoRegistros">{{tipoRegistro}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Fitofisionomia</mat-label>
      <mat-select [(value)]="selectedFitofisionomia" formControlName="fitofisionomia">
        <mat-option [value]="fitofisionomia" *ngFor="let fitofisionomia of fitofisionomias">{{fitofisionomia}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Tratamento Veterinário</mat-label>
      <mat-select [(value)]="selectedTratamentoVeterinario" formControlName="tratamentoVeterinario">
        <mat-option [value]="tratamentoVeterinario" *ngFor="let tratamentoVeterinario of tratamentoVeterinarios">{{tratamentoVeterinario}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CRIAR COLETA</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ATUALIZAR COLETA</button>
  </mat-dialog-actions>
</form>
